.lista{
      margin: 15px;
      list-style: none  ;
}

.flex-carrito{
      display: flex;
      justify-content: space-between;
      padding: 5px;
      border: 3px solid black ;
      border-radius: 15px;
      margin: 10px;
}

.footer {
      text-align: center;
      margin: 50px;
      display: flex;
      justify-content: space-around;
      align-items: center;
}

.flex-lista{
      display: flex;
      flex-direction: column;
      justify-content: center;
}

.boton{
      margin: auto;
      height: 80px;
      width: 150px;
}

.parrafos{
      font-size: 20px;
      font-family: 'Lato', sans-serif;
}

.carrito-empty {
      text-align: center;
      font-size: 40px;
      font-weight: bold;
      padding: 10%;
      font-family: 'Lato', sans-serif;
}

.order {
      text-align: center;
      font-size: 30px;
      font-family: 'Lato', sans-serif;
      margin: 20px;
      color: grey;
}

.order-span{
      color: black;
      font-weight: bold;
}

.formulario{
      display: flex;
      flex-direction: column;
      width: 500px;
      margin: 40px 20px;
}

.formulario>input{
      margin: 5px;
      border-radius: 10px;
      padding: 7px;
}